.so-widget-sow-headline-default-4b3745d9a9cb-70 .sow-headline-container h3.sow-headline {
  font-family: Open Sans;
  font-weight: 300;
  
  text-align: left;
  color: #424242;
  line-height: 1.4em;
  font-size: 30px;
  
  
}
@media (max-width: 780px) {
  .so-widget-sow-headline-default-4b3745d9a9cb-70 .sow-headline-container h3.sow-headline {
    text-align: center;
  }
}
.so-widget-sow-headline-default-4b3745d9a9cb-70 .sow-headline-container h3.sow-headline a {
  color: #424242;
}
.so-widget-sow-headline-default-4b3745d9a9cb-70 .sow-headline-container h3.sow-sub-headline {
  
  text-align: center;
  
  line-height: 1.4em;
  
  
  
}
@media (max-width: 780px) {
  .so-widget-sow-headline-default-4b3745d9a9cb-70 .sow-headline-container h3.sow-sub-headline {
    text-align: center;
  }
}
.so-widget-sow-headline-default-4b3745d9a9cb-70 .sow-headline-container .decoration {
  line-height: 0em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 780px) {
  .so-widget-sow-headline-default-4b3745d9a9cb-70 .sow-headline-container .decoration {
    text-align: center;
  }
}
.so-widget-sow-headline-default-4b3745d9a9cb-70 .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 1px none #eeeeee;
  width: 100%;
  max-width: 80%;
}
.so-widget-sow-headline-default-4b3745d9a9cb-70 .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-4b3745d9a9cb-70 .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}
/*
     FILE ARCHIVED ON 16:42:21 May 24, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:34:43 May 05, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.397
  exclusion.robots: 0.066
  exclusion.robots.policy: 0.06
  esindex: 0.006
  cdx.remote: 17.856
  LoadShardBlock: 586.166 (3)
  PetaboxLoader3.resolve: 237.816 (4)
  PetaboxLoader3.datanode: 403.952 (5)
  load_resource: 151.735
  loaddict: 88.266
*/