.so-widget-sow-headline-default-ee7f3b993168-70 .sow-headline-container h1.sow-headline {
  
  text-align: center;
  color: #0a0101;
  line-height: 1.4em;
  font-size: 40px;
  
  
}
@media (max-width: 780px) {
  .so-widget-sow-headline-default-ee7f3b993168-70 .sow-headline-container h1.sow-headline {
    text-align: center;
  }
}
.so-widget-sow-headline-default-ee7f3b993168-70 .sow-headline-container h1.sow-headline a {
  color: #0a0101;
}
.so-widget-sow-headline-default-ee7f3b993168-70 .sow-headline-container h3.sow-sub-headline {
  
  text-align: center;
  
  line-height: 1.4em;
  
  
  
}
@media (max-width: 780px) {
  .so-widget-sow-headline-default-ee7f3b993168-70 .sow-headline-container h3.sow-sub-headline {
    text-align: center;
  }
}
.so-widget-sow-headline-default-ee7f3b993168-70 .sow-headline-container .decoration {
  line-height: 0em;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 780px) {
  .so-widget-sow-headline-default-ee7f3b993168-70 .sow-headline-container .decoration {
    text-align: center;
  }
}
.so-widget-sow-headline-default-ee7f3b993168-70 .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 1px none #eeeeee;
  width: 100%;
  max-width: 80%;
}
.so-widget-sow-headline-default-ee7f3b993168-70 .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-ee7f3b993168-70 .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}
/*
     FILE ARCHIVED ON 18:46:21 May 24, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:06:43 May 05, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.926
  exclusion.robots: 0.132
  exclusion.robots.policy: 0.114
  esindex: 0.012
  cdx.remote: 13.337
  LoadShardBlock: 62.6 (3)
  PetaboxLoader3.datanode: 137.16 (5)
  PetaboxLoader3.resolve: 270.479 (2)
  load_resource: 486.869
  loaddict: 170.766
*/